# Assignment no.5

### #DATA PREPROCESSING: Perform the following operations using Python on the Airquality data sets a. Data cleaning b. Data transformation

In [1]:
%pip install pandas
%pip install numpy

Requirement already satisfied: pandas in /opt/python/3.10.8/lib/python3.10/site-packages (1.5.3)
Requirement already satisfied: python-dateutil>=2.8.1 in /home/codespace/.local/lib/python3.10/site-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /home/codespace/.local/lib/python3.10/site-packages (from pandas) (2023.3)
Requirement already satisfied: numpy>=1.21.0 in /opt/python/3.10.8/lib/python3.10/site-packages (from pandas) (1.24.2)
Requirement already satisfied: six>=1.5 in /home/codespace/.local/lib/python3.10/site-packages (from python-dateutil>=2.8.1->pandas) (1.16.0)

[notice] A new release of pip is available: 23.2.1 -> 23.3.1
[notice] To update, run: pip install --upgrade pip
Note: you may need to restart the kernel to use updated packages.
Requirement already satisfied: numpy in /opt/python/3.10.8/lib/python3.10/site-packages (1.24.2)

[notice] A new release of pip is available: 23.2.1 -> 23.3.1
[notice] To update, run: pip install --upgrade pip
Note: you may need to restart the kernel to use updated packages.

In [2]:
import pandas as pd
import numpy as np

In [3]:
from sklearn.impute import SimpleImputer
from sklearn.preprocessing import LabelEncoder
from sklearn.preprocessing import OneHotEncoder

In [4]:
df = pd.read_csv('../data/data_date.csv')
df.head()

         Date    Country                          Status  AQI Value
0  2022-07-21    Albania                            Good         14
1  2022-07-21    Algeria                        Moderate         65
2  2022-07-21    Andorra                        Moderate         55
3  2022-07-21     Angola  Unhealthy for Sensitive Groups        113
4  2022-07-21  Argentina                        Moderate         63

In [5]:
df.shape

(12986, 4)

In [6]:

df.columns

Index(['Date', 'Country', 'Status', 'AQI Value'], dtype='object')

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12986 entries, 0 to 12985
Data columns (total 4 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Date       12986 non-null  object
 1   Country    12986 non-null  object
 2   Status     12986 non-null  object
 3   AQI Value  12986 non-null  int64
dtypes: int64(1), object(3)
memory usage: 405.9+ KB

In [8]:
df.isnull().sum()

Date         0
Country      0
Status       0
AQI Value    0
dtype: int64

In [9]:
df.count()

Date         12986
Country      12986
Status       12986
AQI Value    12986
dtype: int64

In [11]:
df = df.drop(['Status'], axis=1)

In [12]:
df.head()

         Date    Country  AQI Value
0  2022-07-21    Albania         14
1  2022-07-21    Algeria         65
2  2022-07-21    Andorra         55
3  2022-07-21     Angola        113
4  2022-07-21  Argentina         63

In [16]:
df['Country'].value_counts()

Albania         93
Malaysia        93
Pakistan        93
Norway          93
Nigeria         93
                ..
Chad            78
Sudan           78
Hungary         74
Gambia          71
Saudi Arabia    21
Name: Country, Length: 142, dtype: int64

In [17]:
df['Country'].value_counts()

Albania         93
Malaysia        93
Pakistan        93
Norway          93
Nigeria         93
                ..
Chad            78
Sudan           78
Hungary         74
Gambia          71
Saudi Arabia    21
Name: Country, Length: 142, dtype: int64

In [19]:
label_encoder = LabelEncoder()
df['Country'] = label_encoder.fit_transform(df['Country'])
df.head()

         Date  Country  AQI Value
0  2022-07-21        0         14
1  2022-07-21        1         65
2  2022-07-21        2         55
3  2022-07-21        3        113
4  2022-07-21        4         63